In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin-1")

In [3]:
df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [4]:
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [6]:
df.shape

(60943, 12)

# Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

In [7]:
Stock_Var = df[df['Element'] == 'Stock Variation']
Sum_by_Year = Stock_Var.iloc[:, 7:].sum()
Maximum_Year = Sum_by_Year.idxmax()

print("Year with the highest sum of Stock Variation:", Maximum_Year)

Year with the highest sum of Stock Variation: Y2014

# Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

In [8]:
Selected_Data = df[['Y2017', 'Area']]
Grouped_Data = Selected_Data.groupby('Area')['Y2017'].sum()
Area_7th_Lowest_Sum = Grouped_Data.sort_values().index[6]

print("Area with the 7th lowest sum in 2017:", Area_7th_Lowest_Sum)

Area with the 7th lowest sum in 2017: Guinea-Bissau

# What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [9]:
Missing_Count = df['Y2014'].isnull().sum()
Total_Data_Points = df['Y2014'].shape[0]
Missing_Percentage = (Missing_Count / Total_Data_Points) * 100
Missing_Percentage = round(Missing_Percentage, 3)

print("Total number of missing data in 2014:", Missing_Count)
print("Percentage of missing data in 2014:", Missing_Percentage, "%")

Total number of missing data in 2014: 1589
Percentage of missing data in 2014: 2.607 %

# What is the total Protein supply quantity in Madagascar in 2015?

In [10]:
Madagascar_Protein_2015 = df[(df['Area'] == 'Madagascar') & (df['Element'] == 'Protein supply quantity (g/capita/day)')]['Y2015'].sum()
print("Total Protein supply quantity in Madagscar in 2015:", Madagascar_Protein_2015)

Total Protein supply quantity in Madagscar in 2015: 173.04999999999998

# Which year had the least correlation with ‘Element Code’?

In [11]:
year_columns = ['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']
correlations = {}
for year in year_columns:
    correlation = df['Element Code'].corr(df[year])
    correlations[year] = correlation
least_correlated_year = min(correlations, key=correlations.get)

print("Year with the least correlation to 'Element Code':", least_correlated_year)

Year with the least correlation to 'Element Code': Y2016

# What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [12]:
y2017_mean = df['Y2017'].mean()
y2017_std = df['Y2017'].std()
y2017_mean = round(y2017_mean, 2)
y2017_std = round(y2017_std, 2)

print("Mean for the year 2017:", y2017_mean)
print("Standard deviation for the year 2017:", y2017_std)

Mean for the year 2017: 140.92
Standard deviation for the year 2017: 1671.86

# What is the total number of unique countries in the dataset?

In [13]:
unique_countries = df['Area'].nunique()
print("Total number of unique countries:", unique_countries)

Total number of unique countries: 49

# Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

In [14]:
# Assuming df is the DataFrame that contains the data
processing_2017_sum = df[df['Element'] == 'Processing']['Y2017'].sum()

print("Total sum of 'Processing' in 2017:", processing_2017_sum)

Total sum of 'Processing' in 2017: 292836.0

# Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

In [15]:
# Assuming df is the DataFrame that contains the data
grouped_df = df.groupby('Area')['Y2017'].sum()
area_with_highest_sum = grouped_df.idxmax()

print("Area with the highest sum in 2017:", area_with_highest_sum)

Area with the highest sum in 2017: Nigeria

# Handling Missing Values of the dataset

In [16]:
df.isnull().values.any()

True

In [17]:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [18]:
df['Y2014'] = df['Y2014'].fillna(0)
df['Y2015'] = df['Y2015'].fillna(0)
df['Y2016'] = df['Y2016'].fillna(0)
df['Y2017'] = df['Y2017'].fillna(0)
df['Y2018'] = df['Y2018'].fillna(0)

In [19]:
df.isnull().sum()

Area Code       0
Area            0
Item Code       0
Item            0
Element Code    0
Element         0
Unit            0
Y2014           0
Y2015           0
Y2016           0
Y2017           0
Y2018           0
dtype: int64

In [20]:
df.isnull().values.any()

False